.botao {
  background-color: #8B3037;
  color: #D9C7CE;
  font-weight: bold;
  padding: 12px 0;
  border: none;
  border-radius: 17px;
  width: 100%;
  max-width: 280px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 15px;
}

.botao:hover {
  background-color: #891F1F;
  color: #F4F8FF
}