.title {
  font-family: Figtree;
  margin: 40px 100px 20px 100px;
  text-transform: uppercase;
  font-size: 1.8em;
  text-decoration: underline;
  text-decoration-color: #561c24;
  text-decoration-thickness: 8px;
  color: white;  
  padding-top: 40px;
}

.subtitle {
  margin: 0 auto;
  display: block;
  text-align: left;
  margin-top: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: Figtree, sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.9s ease;
}

.subtitle:hover {
  color: #561c24;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #561c24;
  text-decoration-thickness: 8px;
}